body{
    background-color: #ffffff;
    font-size: 18px;
    font-family: 'Avenir Roman',Verdana,Geneva,Tahoma,sans-serif;
    padding-left: 20px;
    color:#997761
}
.one{
    font-family:'Century Gothic bold',Verdana,Tahoma,sans-serif;
    font-size: 36px;
    color: #755146;
    text-align: center;
}
.nav1{
    font-size: 24px;
    font-family:'Century Gothic bold',Verdana,Tahoma,sans-serif;
    color: #6d7275;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    border:1px solid #997761;
    text-decoration: none;
    padding:10px; 
}
header nav a:hover{
    background-color: #ad6f48;
    color:#fff;
}
#img{
    width: 600px;
    box-shadow: 0 0 2px 1px #000;
}
h2{
    font-family:'Avenir Roman',Verdana,Geneva,Tahoma,sans-serif;
    color:#6d7275;
}
ul li{
    list-style: square;
}
li:nth-child(2){
    background-color: #ead5d0;
}
header,footer{
    background-color:#d2bdac;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    text-align: center;
}